.btn-like-link {
  background-color: inherit;
}
/*-webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    width: 50px;
    line-height: 40px;
    position: relative;
        display: block;
    text-align: center;
    border-left: 1px solid #ebebeb;
    height: 100%;*/
