.theme-text-color {
  color: #7fffd4 !important;
}
.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  display: block;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}
.banner-bg-native {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0%;
}
.fill-something {
  max-height: -webkit-fill-available;
  max-height: stretch;
  max-height: -moz-available;
  min-width: 100% !important;
}
.hover-theme:hover {
  transition: 0.5s ease;
  background-color: #7fffd4 !important;
  opacity: 0.5;
}
